:9090 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / prometheus:9090
}

:9093 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / alertmanager:9093
}

:9094 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / karma:8080
}

:3000 {
    proxy / grafana:3000
}
